@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto');

.group {
    border: 2px ridge #A68E34;
    padding-right: 10px;
}

.groupHeader {
    height: 15px;
    position: relative;
    right: 0px;
}

.groupName {
    float: right;
    font-size: 0.85em;
    background-color: #A68E34;
    padding: 3px;
    position: relative;
    bottom: 6px;
    left : 12px;
    border-bottom-left-radius: 11px;
    margin-left: 9px;
    
}

.teams {

}

