
.team {
    height: 27px;
    padding: 2.5px;
    border: 2px solid #5F5F5F;
}

.countryFlag {
    height: 30px;
    margin-right: 10px;
}

.teamName {
    color: #ffffff;
    position: relative;
    bottom: 10px;
}

.col-1 {
    width: 8.3%;
}

.col-2 {
    width: 16.7%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%;
}

.col-5 {
    width: 41.7%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3%;
}

.col-8 {
    width: 66.7%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.7%;
}

.col-12 {
    width: 100%;
}