
.team {
    height: 45px;
    border-bottom: 1px solid #5F5F5F;
}

.countryFlag {
    height: 30px;
    margin-right: 10px;
}

.teamOverall {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.50em;
    color: #e8e8e8;
    position: relative;
    bottom: 8px;
}

.teamPoint {
    float: right;
    text-align: right;
    padding: 1px;
    color: #e8e8e8;
    position: relative;
    bottom: 3px;
}

.teamName {
    color: #ffffcc;
    font-size: 1.25em;
}
